

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* editor js css */
.ce-block--aligned-left {
  text-align: left;
}

.ce-block--aligned-center {
  text-align: center;
}

.ce-block--aligned-right {
  text-align: right;
}

.ce-block {
  border: 1px solid #ddd;
  padding: 8px;
  margin-bottom: 8px;
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
  display: inline-block;
}

.codex-editor {
  border: 1px solid #ccc;
  padding: 16px;
  min-height: 100px;
}
/* end of editor js css */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

